<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groupchat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroupChat">
        <activity
            android:name=".iosDev"
            android:exported="false" />
        <activity
            android:name=".AndroDev"
            android:exported="false" />
        <activity
            android:name=".MobileDev"
            android:exported="false" />
        <activity
            android:name=".BackEndDev"
            android:exported="false" />
        <activity
            android:name=".goLang"
            android:exported="false" />
        <activity
            android:name=".JavaScript"
            android:exported="false" />
        <activity
            android:name=".java"
            android:exported="false" />
        <activity
            android:name=".python"
            android:exported="false" />
        <activity
            android:name=".cplusplus"
            android:exported="false" />
        <activity
            android:name="com.hasnain.UpskillForFree.frontend"
            android:exported="false" />
        <activity
            android:name="com.hasnain.UpskillForFree.softwaredev"
            android:exported="false" />
        <activity
            android:name="com.hasnain.UpskillForFree.datascience"
            android:exported="false" />
        <activity
            android:name="com.hasnain.UpskillForFree.machinelearning"
            android:exported="false" />
        <activity
            android:name="com.hasnain.UpskillForFree.devops"
            android:exported="false" />
        <activity
            android:name="com.hasnain.UpskillForFree.programminglang"
            android:exported="false" />
        <activity
            android:name="com.hasnain.UpskillForFree.homeactivity"
            android:exported="false" />
        <activity
            android:name="com.hasnain.UpskillForFree.registeractivity"
            android:exported="false" />
        <activity
            android:name="com.hasnain.UpskillForFree.loginactivity"
            android:exported="false" />
        <activity
            android:name="com.hasnain.UpskillForFree.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>